/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font: 16px/1.5 sans-serif;
	margin: 0;
}

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.grid {
	height: 100vh; /* nastavíme výšku gridu přes celou stránku */
}

.grid {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 150px auto 150px;
}

.grid header {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.grid nav {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}

.grid article {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.grid footer {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
